* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    list-style: none;
    text-decoration: none;
    color: #171a20;
  
    font-family: "Ubuntu", sans-serif;
  }
  
  /* Header */
  .header {
    margin: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .title__link a {
    letter-spacing: 14px;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 25px;
  }
  
  .header__right {
    display: flex;
    align-items: center;
  }
  
  /* Form */
  
  .signIn {
    max-width: 400px;
    width: 100%;
    margin: 30px auto;
  }
  
  .signIn h1 {
    font-weight: 500;
    font-size: 34px;
  }
  
  .form form {
    display: flex;
    flex-direction: column;
    margin-top: 35px;
  }
  
  .form form label {
    padding-left: 17px;
  }
  
  .form form input {
    margin: 15px;
  }
  
  form span {
    position: relative;
  }
  
  form span::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: #3d69e1;
    border-radius: 50%;
    left: 135px;
  }
  
  form label {
    opacity: 0.7;
    font-weight: bold;
  }
  
  form input {
    height: 40px;
    border-radius: 20px;
    border: none;
    border: 1px solid #888;
    background: #f5f5f5;
    outline: none;
    padding: 0 20px;
    color: #888;
    font-weight: 600;
    font-size: 14px;
    font-family: "Ubuntu", sans-serif;
  }
  
  form button {
    font-family: "Ubuntu", sans-serif;
    font-size: 12px;
    font-weight: 600;
    color: #f5f5f5;
    height: 40px;
    border-radius: 20px;
    background: #3d69e1;
    border: none;
    margin-bottom: 16px;
    text-transform: uppercase;
    cursor: pointer;
    opacity: 1;
    transition: 0.6s;
  }
  
  form button:hover {
    background: #3153b1;
  }
  
  form button:nth-child(5) {
    margin-top: 15px;
  }
  
  form button:nth-child(6) {
    font-weight: 200;
    color: #060606;
    background: #f5f5f5;
  }
  
  .form p {
    text-align: center;
    margin-top: 5px;
  }
  
  .form p a {
    text-decoration: underline;
  }
  
  .or {
    text-align: center;
    margin-top: 40px;
  }
  
  .or span {
    color: #888;
    text-transform: uppercase;
    position: relative;
  }
  
  .or span::before {
    content: "";
    height: 1px;
    width: 150px;
    background: #e7e5e5;
    position: absolute;
    left: 30px;
    top: 10px;
  }
  
  .or span::after {
    content: "";
    height: 1px;
    width: 150px;
    background: #e7e5e5;
    position: absolute;
    right: 30px;
    top: 10px;
  }
  
  .create {
    text-align: center;
    margin: 40px;
  }
  
  .create button {
    border: 3px solid #060606;
    width: 100%;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    text-transform: uppercase;
    background: transparent;
  }
  
  .create button:hover {
    background: #060606;
    color: #f5f5f5;
    font-weight: 500;
  }
  
  footer {
    text-align: center;
    padding-bottom: 20px;
  }
  
  footer div span {
    margin-right: 10px;
    color: #888;
    font-size: 15px;
    font-weight: 100;
  }
  
  footer div span:hover {
    color: #060606;
    border-bottom: 2px solid black;
    cursor: pointer;
  }
  
  /* Псевдо-Элементы */
  /* .test::after {
    content: '';
    width: 20px;
    height: 20px;
    background: purple;
    position: absolute;
    border-radius: 50%;
  }
  .test::before {
    content: '';
    width: 20px;
    height: 20px;
    background: purple;
    position: absolute;
    border-radius: 50%;
  }
  
  /* Псевдо-классы */
  /* .test:hover {
    color: red;
  }  */
  